html {
  height: 100%;
}

input {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  width: 300px;
  height: 20px;
}

body {
  font-family: sans-serif;
  font-size: medium;
  color: gray;
  padding: 0 10px;
  height: 100%;
  background: white;
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
  padding: 15px;
}

#usf_main_logo {
  text-align: center;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 0px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 250px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  background: #ffffff;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #eeeeee;
  overflow: hidden;
}

textarea {
  background: rgba(255, 255, 255, 0.4)
    url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  width: 280px;
  height: 110px;
  border: 1px solid #999999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #999999;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

input {
  width: 280px;
  height: 30px;
  border: 1px solid #999999;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #999999;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

input[type="submit"] {
  cursor: pointer;
}

input.regularinput {
  background: #fff no-repeat scroll 16px 16px;
  padding-left: 10px;
}

input.disabledinput {
  background: #eeeeee no-repeat scroll 16px 16px;
  border-width: 0px;
  padding-left: 10px;
}

input.disabledinputgreen {
  background: #eeeeee no-repeat scroll 16px 16px;
  border-width: 0px;
  padding-left: 10px;
  color: green;
}

input.disabledinputred {
  background: #eeeeee no-repeat scroll 16px 16px;
  border-width: 0px;
  padding-left: 10px;
  color: red;
}

img.ply_picture {
  width: 300px;
}

input.disabledinputwhite {
  background: #ffffff no-repeat scroll 16px 16px;
  border-width: 0px;
  padding-left: 10px;
}

label.disabledinput {
  background: #eeeeee no-repeat scroll 16px 16px;
  border-width: 0px;
  padding-left: 10px;
  width: 280px;
  height: 30px;
  border: 0px solid #999999;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #999999;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

input.email {
  background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
  padding-left: 10px;
}

input.message {
  background: rgba(255, 255, 255, 0.4) no-repeat scroll 16px 16px;
  padding-left: 10px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  background-color: white;
  overflow: hidden;
}

.btn {
  width: 300px;
  height: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  border: 1px solid #253737;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #416b68;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6da5a3),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background: -moz-linear-gradient(top, #6da5a3, #416b68);
  background: -ms-linear-gradient(top, #6da5a3, #416b68);
  background: -o-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  padding: 10.5px 21px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
}

.btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#77b2b0),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}

.btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #253737;
  background: #6da5a3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#416b68),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #416b68, #609391);
  background: -moz-linear-gradient(top, #416b68, #6da5a3);
  background: -ms-linear-gradient(top, #416b68, #6da5a3);
  background: -o-linear-gradient(top, #416b68, #6da5a3);
  background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
  color: #fff;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
}
